<div class="container">
  <div class="inner__container">
    <form [formGroup]="registerFormGroup" (submit)="validateRegisterData()"> 
      <p></p>
      <div class="register">
        <!-- email-->
        <app-input            
          [formGroup]="registerFormGroup"
          [autoFocus]="true"  
          type="text"                  
          formControlName="email"           
          placeHolder="mon@email.fr"
          name="email"
          id="email"
          labelText="email"
          [errorMessage]="emailMissing"
        ></app-input>

        <!-- password-->
        <app-input
          [formGroup]="registerFormGroup"       
          type="password"                  
          formControlName="password"           
          placeHolder="mot de passe"
          name="password"
          id="password"
          labelText="password"
          [hasDisplaPasswordOption]="true"
          [errorMessage]="passwordMissing"
        ></app-input>

        <!-- confirmPassword-->
        <app-input
          [formGroup]="registerFormGroup"       
          type="password"                  
          formControlName="confirmPassword"           
          placeHolder="mot de passe"
          name="confirmPassword"
          id="confirmPassword"
          labelText="password"
          [hasDisplaPasswordOption]="true"          
          [errorMessage]="confirmPasswordMissing"
        ></app-input>

        <!--button container-->
        <app-rectangle-button type="submit" value="inscription"></app-rectangle-button>

      </div>
    </form>    
  </div>
</div>