<div class="container">
  <!--Liste des nouvelles relations-->
  <app-new-friends-relation-modal></app-new-friends-relation-modal>

  <div class="friend">
    <!--Header-->
    <div class="friend__header">
      <p>compte associé</p>
      <app-rectangle-button (clickEmitter)="navigateToUserAccount()" value="annuler"></app-rectangle-button>
    </div>

    <!--Comptes deja associés-->
    <div class="friend__list">
      <app-friend-list [friends]="friends"></app-friend-list>      
    </div>

    <!--Ajout ami-->
    <div class="friend__add__container">
      <app-add-friend (addFriendEmitter)="addFriend($event)"></app-add-friend>
    </div>
  </div>
</div>