.friend__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: calc(100vh - var(--banner_height));

}

.friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  flex-grow: 2;
  padding: 0px 5px;
}

.friends__avail {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title--part {
  width: 100%;
  color: var(--main_color);
  text-align: left;
  padding-bottom: 20px;
  font-weight: var(--font_medium);
}

.title--part::first-letter {
  text-transform: capitalize;
}

.friend__list {
  display: flex;
  width: 100%;
  background-color: aquamarine;
}